body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #111;
  font-family: "Amatic SC" monospace;
  height: 100%;
}
a {
  color: #242;
}
#cross {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
}
.anotherVisitor {
  color: #445;
  margin: 50px auto;
  width: 30em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 500px) {
  .anotherVisitor {
    position: static;
    width: 100%;
    margin: auto;
  }
}

#nosupport,
#nowebgl2,
#nomodule {
  display: none;
}

#minecraft, #pitfall canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
}

#games {
  width: 800px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#minecraft, #pitfall canvas {
  width: 100%;
  margin: 0 auto;
}

canvas {
  border-radius: 10px;
}
#games:-moz-full-screen canvas {
  width: 100%;
}
#games:-webkit-full-screen canvas {
  width: 100%
}
#games:fullscreen canvas {
  width: 100%
}

#fs {
  padding-left: 10px;
}

#icons {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
